:root {
  --COLOR-C1: #f7f7f7;
  --COLOR-C2: #d9d9d9;
  --COLOR-C3: #606470;
  --COLOR-C4: #323643;
  --COLOR-P1: #22396f;
  --COLOR-P2: #0d1c42;
  --COLOR-P3: #010736;
  --COLOR-S1: #fcf1d0;
  --COLOR-U1: #95e4fa;
  --COLOR-U2: #fb6161;
  --COLOR-U3: #4deb77;
  --FONT-XL: 400 2.5rem/1 "Blinker";
  --FONT-L-1: 400 2rem/1.25 "Blinker";
  --FONT-L-2: 400 2rem/1 "Blinker";
  --FONT-M: 400 1.5rem/1 "Blinker";
  --FONT-XL: 600 1.25rem/1 "Blinker";
  --FONT-XL: 400 1.25rem/1 "Blinker";
  --FONT-XL: 400 1rem/1.25 "Blinker";
}

.container {
  max-width: clamp(300px, 80vw, 1400px);
  margin: 0 auto;
}

.button {
  letter-spacing: 2%;
}
