.header {
  background-color: var(--COLOR-P3);
  padding: 1.25rem 0;
}

.page-title {
  text-align: center;
  font: var(--FONT-L-1);
  color: var(--COLOR-S1);
}

.header[data-theme="dark"] {
  background-color: var(--COLOR-S1);
}

.page-title[data-theme="dark"] {
  color: var(--COLOR-P3);
}
