.subtitle {
  font: var(--FONT-L-1);
  color: var(--COLOR-P3);
  text-align: center;
}

.subtitle[data-theme="dark"] {
  color: var(--COLOR-S1);
}

.tabelas-grid {
  position: relative;
  margin-top: 10rem;
}

.tabela {
  display: grid;
}

.tabela::before {
  background-color: var(--COLOR-C2);
  content: "";
  height: 2px;
  left: 10%;
  position: absolute;
  top: -80px;
  width: 80%;
}

.tabela + .tabela {
  margin-top: 4rem;
}

.head-tabela {
  color: var(--COLOR-C3);
  display: grid;
  font: var(--FONT-XS);
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-top: 1.25rem;
}

.head-tabela[data-theme="dark"] {
  color: var(--COLOR-C2);
}

.body-tabela {
  color: var(--COLOR-C3);
  font: var(--FONT-XS);
  margin-top: 0.75rem;
}

.body-tabela[data-theme="dark"] {
  color: var(--COLOR-C2);
}

.linha-tabela {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  text-align: center;
  position: relative;
}

.linha-tabela + .linha-tabela {
  margin-top: 1.625rem;
}

.linha-tabela + .linha-tabela::after {
  content: "";
  position: absolute;
  background-color: var(--COLOR-C2);
  height: 2px;
  width: 100%;
  top: -12px;
}

.receitas .valor {
  color: var(--COLOR-U3);
}

.despesas .valor {
  color: var(--COLOR-U2);
}

@media screen and (min-width: 1024px) {
  .subtitle[data-theme="dark"] {
    color: var(--COLOR-P3);
  }

  .tabelas-grid {
    background-color: var(--COLOR-C1);
    border: 4px solid var(--COLOR-P2);
    border-radius: 1rem;
    box-shadow: 8px 8px var(--COLOR-P1);
    margin-top: 2.5rem;
    padding: 2.5rem;
  }

  .tabela::before {
    height: 0;
  }

  .head-tabela[data-theme="dark"] {
    color: var(--COLOR-C3);
  }

  .body-tabela[data-theme="dark"] {
    color: var(--COLOR-C3);
  }
}

@media screen and (min-width: 1440px) {
  .tabelas-grid {
    display: flex;
    gap: 5rem;
  }

  .tabela + .tabela {
    margin: 0;
  }
}
